<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" parallel="tests" >

    <test name="SafariTest">
        <parameter name="browser" value="Safari" />
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="failed_signUpUser_withExistingEmail"></include>
                    <include name="validLoginTest"></include>
                    <include name="signUpNewUser"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="Firefox" />
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="failed_signUpUser_withExistingEmail"></include>
                    <include name="validLoginTest"></include>
                    <include name="signUpNewUser"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="ChromeTest">
        <parameter name="browser" value="Chrome" />
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="failed_signUpUser_withExistingEmail"></include>
                    <include name="validLoginTest"></include>
                    <include name="signUpNewUser"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>